*{
    margin:0;
    padding: 0;
}

.wrapper{
    margin:20px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
    width: 100%;
    /*position: relative;*/
    /*clear: both;*/
    overflow: hidden;

}

.left{
    width: 200px;
    height: 120px;
    margin-left: 20px;
    background-color: red;
    position: absolute;
    left: 0;
}
.right{
    width: 160px;
    height: 800px;
    background-color: blue;
    position: absolute;
    top: 20px;
    right: 20px;
    display: table;
}
.right:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0px;
    *zoom:1;
}
.middle{
    /*height: 800px;*/
    margin:0 180px 0 220px;
    background-color: yellow;

}